################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication34/v16/Server/sqlite3/storage.ide-wal
