@model WebApplication34.Data.BankAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CmndNumber" class="control-label"></label>
                <input asp-for="CmndNumber" class="form-control" />
                <span asp-validation-for="CmndNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaries" class="control-label"></label>
                <input asp-for="Beneficiaries" class="form-control" />
                <span asp-validation-for="Beneficiaries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberAccount" class="control-label"></label>
                <input asp-for="NumberAccount" class="form-control" />
                <span asp-validation-for="NumberAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <input asp-for="Bank" class="form-control" />
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
