@model WebApplication34.Models.ImportVM

@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>

<h4>OriginalListing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Import" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">File</label>
                <input class="form-control" asp-for="Myfile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Import">Back to List</a>
</div>

