@{
    ViewData["Title"] = "Home Page";
}

    <div class="container" style="margin-top:30px">
        <div class="jumbotron">
            <h1>Tra cứu cổ phần</h1>
            <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
            <a class="btn btn-lg btn-primary" href="/Transactions?area=cash" role="button">Bắt đầu sử dụng</a>
        </div>
        <div class="card">
            <div class="card-header">
                Thông tin liên hệ
            </div>
            <div class="card-body">
                <h5 class="card-title">Công ty cổ phần sông ba</h5>
                <p class="card-text">
                    Địa chỉ: 573 Núi Thành - TP Đà Nẵng
                </p>
                <p class="card-text">
                    Điện thoại: 0236-3653.593
                </p>
                <p class="card-text">
                    Email: sb2007@songba.vn
                </p>
            </div>
        </div>
    </div>
<style>
    .fakeimg {
        height: 200px;
        background: #aaa;
    }
</style>